@model IEnumerable<HomeInvestor.Models.Asset>

<h2>View</h2>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(a => a.AssetId)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.Owner.EthAdd)
            </th>

            <th>
                @Html.DisplayNameFor(a => a.HomeValue)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.City)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.State)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.Bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.Bathrooms)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AssetId
                </td>
                <td>
                    @item.Owner.EthAdd
                </td>
                <td>
                    @item.HomeValue
                </td>

                <td>
                    @item.City
                </td>
                <td>
                    @item.State
                </td>
                <td>
                    @item.Bedrooms
                </td>
                <td>
                    @item.Bathrooms
                </td>

            </tr>
        }
    </tbody>
</table>
